<html ng-app="myApp">
  <head>
   
	<script type="text/javascript"
            src="https://code.angularjs.org/1.2.16/angular.js">
    </script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.16/angular-resource.js"></script>
	

	<script src="lb-services.js"></script>

	
    
    <script type="text/javascript">
      angular.module('myApp',['lbServices']);

      function FedeController($scope, Index) {
        $scope.alldcindexes = Index.find();
	}
    </script>
  </head>

  <body>
    <div ng-controller="FedeController">
      <ul>
        <li ng-repeat="index in alldcindexes">
          {{index.index}} 
        </li>
      </ul>
    </div>
	
	
	
	
	
	
	
	
	
	
	
	
  </body>
</html>