<html ng-app="myApp">
  <head>
   
	<script type="text/javascript"
            src="https://code.angularjs.org/1.2.16/angular.js">
    </script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.16/angular-resource.js"></script>
	

	<script src="lb-services.js"></script>
	
	
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
      angular.module('myApp',['lbServices']);

      function FedeController($scope, Dc) {
        $scope.alldcpids = Dc.find();
	}
	
	

	
	




</script>	
	
	
	
	
	
	
	
	
	
	
	
	
 
	
	
	
	<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
	
	
	

	
	
  </head>

  <body>
  <div ng-controller="FedeController">
  <table>
  <tr ng-repeat="pid in alldcpids">
    <td>{{ pid.pid }}</td>
	<td>{{ pid.dc }}</td>
	<td><img src="https://fc.cab.unipd.it/fedora/objects/o:{{pid.pid}}/methods/bdef:Asset/getThumbnail"></img></td>
	<td>
 
 

 
 
 
 
 
 </tr>
</table>













  
  
  
  
  
	
  </body>
</html>