

<html ng-app="myApp">
  <head>
   
<script type="text/javascript" src="https://code.angularjs.org/1.2.16/angular.js">
</script>
<script type="text/javascript" src="https://code.angularjs.org/1.2.16/angular-resource.js"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>

	<script src="lb-api.js"></script>

	
    
    <script type="text/javascript">
      angular.module('myApp',['lbServices']);

    function FedeController($scope, $http, Collections2) {
		$scope.allcollections2Pids = Collections2.find(function(data){
			console.log("ok:");
			console.log(data);
			for(i=0; i<data.length;i++){
				var elemento = data[i];
				console.log(elemento);
				$http.get("http://phaidra.cab.unipd.it/api/object/o:"+elemento.pid2+"/dc")
				.then(function(response) {
				console.log(response);
				
				
				

				
					
                 $scope.prova = response;

					
					
				});
			}
		},
		function(err){
			console.log("errore:");
			console.log(err);
		});
	}
	
	
	
	 
	
	
	
	

    </script>
  </head>

  <body>
    <div ng-controller="FedeController">
      <ul>
        <li ng-repeat="pid in allcollections2Pids">
          {{pid.pid2}} ({{pid.res2}})
<h6>Dublin Core</h6>
		  ({{prova}})
		<hr></hr> 
        </li>
		
      </ul> 
    </div>
  </body>
</html>









